<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Agregar Producto</h2>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="updateProduct()">

      <div class="row px-4">
        <div class="col">
          <mat-form-field class="input-form-field">
            <input matInput appOnlynumberletters maxlength="50" formControlName="name" name="name" required
              placeholder="Nombre Producto:" id="name">
            <mat-error *ngIf="!editForm.controls['name'].valid && editForm.controls['name'].touched">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span
                class="sr-only">Error:</span>
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row px-4">
        <div class="col">
          <mat-form-field class="input-form-field">
            <mat-label>Enabled</mat-label>
            <mat-select formControlName="enabled" name="enabled" required>
              <mat-option value="true">True</mat-option>
              <mat-option value="false">False</mat-option>
            </mat-select>
            <mat-error *ngIf="!editForm.controls['enabled'].valid && editForm.controls['enabled'].touched">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span
                class="sr-only">Error:</span>
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row px-4">
        <div class="col">
          <mat-form-field class="input-form-field">
            <input matInput appOnlyNumber maxlength="10" formControlName="inInventory" name="inInventory" required
              placeholder="Total Inventario:" id="inInventory">
            <mat-error *ngIf="!editForm.controls['inInventory'].valid && editForm.controls['inInventory'].touched">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span
                class="sr-only">Error:</span>
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row px-4">
        <div class="col">
          <mat-form-field class="input-form-field">
            <input matInput appOnlyNumber maxlength="10" formControlName="min" name="min" required
              placeholder="Mínimo:" id="min">
            <mat-error *ngIf="!editForm.controls['min'].valid && editForm.controls['min'].touched">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span
                class="sr-only">Error:</span>
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row px-4">
        <div class="col">
          <mat-form-field class="input-form-field">
            <input matInput appOnlyNumber maxlength="10" formControlName="max" name="max" required
              placeholder="Máximo:" id="max">
            <mat-error *ngIf="!editForm.controls['max'].valid && editForm.controls['max'].touched">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <span
                class="sr-only">Error:</span>
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row px-4">
        <div class="col">
          <button mat-button color="primary" [disabled]="!editForm.valid">
            <mat-icon>check</mat-icon>
            Aceptar
          </button>
        </div>
        <div class="col">
          <button mat-button color="primary" type="button" (click)="listProduct()">
            <mat-icon>keyboard_return</mat-icon>
            Regresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

